:root {
    --color-gray-600: #101112;
    --color-gray-550: #1c1d1f;
    --color-gray-500: #2d2f31;
    --color-gray-400: #3e4143;
    --color-gray-300: #6a6f73;
    --color-gray-250: #9da3a7;
    --color-gray-200: #d1d7dc;
    --color-gray-150: #e4e8eb;
    --color-gray-100: #f7f9fa;
    --color-red-500: #612012;
    --color-red-400: #b32d0f;
    --color-red-300: #f4522d;
    --color-red-250: #ef8e70;
    --color-red-200: #fcbca0;
    --color-red-150: #fbd5c4;
    --color-red-100: #fbece9;
    --color-blue-500: #180a3d;
    --color-blue-400: #371783;
    --color-blue-300: #5624d0;
    --color-blue-250: #8072e6;
    --color-blue-200: #c0c4fc;
    --color-blue-150: #d8e0fb;
    --color-blue-100: #eeeffc;
    --color-indigo-500: var(--color-blue-500);
    --color-indigo-400: var(--color-blue-400);
    --color-indigo-300: var(--color-blue-300);
    --color-indigo-200: var(--color-blue-200);
    --color-indigo-100: var(--color-blue-100);
    --color-orange-500: #4d3105;
    --color-orange-400: #b4690e;
    --color-orange-300: #f69c08;
    --color-orange-250: #ebb152;
    --color-orange-200: #f3ca8c;
    --color-orange-150: #f7dfba;
    --color-orange-100: #fcf5e8;
    --color-yellow-500: #3d3c0a;
    --color-yellow-400: #98961b;
    --color-yellow-300: #e9e729;
    --color-yellow-250: #eeec5d;
    --color-yellow-200: #eceb98;
    --color-yellow-150: #f3f2b8;
    --color-yellow-100: #f9f9d7;
    --color-green-500: #113731;
    --color-green-400: #1e6055;
    --color-green-300: #19a38c;
    --color-green-250: #6cb1a5;
    --color-green-200: #acd2cc;
    --color-green-150: #cfe4e1;
    --color-green-100: #f2f7f6;
    --color-purple-500: #350c50;
    --color-purple-400: #7325a3;
    --color-purple-300: #a435f0;
    --color-purple-250: #c377f6;
    --color-purple-200: #e1b8fc;
    --color-purple-150: #ebd3fc;
    --color-purple-100: #f6eefc;
    --color-white: #fff;
    --color-white: #ffff;
    --color-light-white: #f6f6f6;
    --color-dark-blue: #1a1c2a;
    --color-light-withe2: #f8f9fa;
    --color-purple: rgb(64, 64, 255);
    --color-strong-grey: #343a40;
    --color-light-grey: #D3D3D3;
    --color-bg-100: #fafbfc;
    --menu-color: var(--color-strong-grey);
    --menu-color-hover: var(--color-purple);
    --highcharts-background-color: var(--color-white);
    --highcharts-neutral-color-100: var(--color-gray-600);
    --highcharts-neutral-color-80: var(--color-gray-550);
    --highcharts-neutral-color-60: var(--color-gray-500);
    --highcharts-neutral-color-40: var(--color-gray-400);
    --highcharts-neutral-color-20: var(--color-gray-200);
    --highcharts-neutral-color-10: var(--color-gray-100);
    --highcharts-positive-color: var(--color-green-400);
    --highcharts-negative-color: var(--color-red-400);
}

[data-theme="darkMode"] {
    --color-bg-100: #222437;
}